<div class="">

<div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
        <!-- <li class="me-2">
            <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">About</button>
        </li>
         -->
    </ul>
    <div>
        <div class=" p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
            <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">SMTP Configuration</h2>
            <p class="mb-3 text-gray-600 dark:text-gray-600"><strong>Email:</strong><span class="mx-1">jegadeshgmail.com</span></p>   
            <p class="mb-3 text-gray-600 dark:text-gray-600"><strong> password:</strong><span class="mx-1">jega12345</span></p>           
        
        </div>
       
        
    </div>
</div>


</div>