<nav class="bg-white border-gray-200 shadow-md sticky top-0 z-50">
    
    <div class="flex flex-wrap items-center justify-between mx-auto p-4 ">
        <img src="../../../assets/images/logo.svg" class="h-12" alt="Flowbite Logo" />

        <a href="" class="flex items-center space-x-3">
            <span class="self-center text-2xl font-semibold whitespace-nowrap"></span>
        </a>
        <div class="flex items-center md:order-2 space-x-3">            
            <form class="right-side mt-2 ">
                <w3m-button balance='hide' />
            </form>
        </div>        
    </div>
</nav>
